.story {
  width: 400px;
  margin: 10%;
  padding: 10%;
  background-color: lightblue;
  border: solid black 1px;
}

  .indifferent_sun {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  margin-left: 200px;
  text-align: center center;
  border-radius: 50px 50px 50px 50px;
  -webkit-animation-name: bounce;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 4s;
  /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: 3;
  /* Chrome, Safari, Opera */
  -webkit-animation-direction: alternate;
  /* Chrome, Safari, Opera */
  animation-name: bounce;
  animation-duration: 4s;
  animation-iteration-count: 3;
  animation-direction: alternate;
}
/* Chrome, Safari, Opera */

@-webkit-keyframes bounce {
  0% {
    background-color: red;
    top: 0px;
  }
  50% {
    background-color: orange;
    top: 200px;
  }
  100% {
    background-color: yellow;
    top: 0px;
  }
}
/* Standard syntax */

@keyframes bounce {
  0% {
    background-color: red;
    top: 0px;
  }
  50% {
    background-color: orange;
    top: 200px;
  }
  100% {
    background-color: yellow;
    top: 0px;
  }
  
  div.suna, div.sunb, div.sunc {
width: 2px;
height:10000px;
 background-color:red;
position:fixed;
    
}
div.sunb{
    background-color:yellow;
}
div.sunc{
    background-color:orange;
}
.frame {
   width:300px;
   height:300px;}
   
#borderimg1 { 
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(cxejohns.com/images/frame2.png) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(cxejohns.com/images/frame2.png) 30 round; /* Opera 11-12.1 */
    border-image: url(cxejohns.com/images/frame2.png) 30 round;
}

#borderimg2 { 
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(cxejohns.com/images/frame2.png) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(cxejohns.com/images/frame2.png) 30 stretch; /* Opera 11-12.1 */
    border-image: url(cxejohns.com/images/frame2.png) 30 stretch;
}
  
  div.sunblocka, div.sunblockb, div.sunblockc {
width: 1000px;
height:10000px;
background-color:yellow;
position:fixed;
    
}
div.sunblockb{
    background-color:orange;
}
div.sunblockc{
    background-color:red;
}
  
.levitate1 {
    position :relative;
    animation: levitate1 4s infinite;
    animation-direction: alternate;
}
.levitate2 {
    position :relative;
    animation: levitate2 5s infinite;
    animation-direction: alternate;
}
.levitate3 {
    position :relative;
    animation: levitate3 6s infinite;
    animation-direction: alternate;
}

@keyframes levitate1 {
    from {top: 200px;}
    to {top: 0px;}
}
@keyframes levitate2 {
    from {top: 0px;}
    to {top: 200px;}
}
@keyframes levitate3 {
    from {top: 0px;}
    to {top: 200px;}
    from {top: 200px;}
    to {top: 0px;}
}


#bouncer {
    width:600px; 
    height: 200px; 
    position:fixed; 
    border-bottom:black;}

#bouncer li {
    position: absolute;
    width: 100px;
    height: 60px;    
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    line-height: 60px;
    background-color:darkgreen;
    text-align:center;
            }
