html {
    --main-background-color: #3a7f87;
    --mainHeight: 100px;
    --mainWidth: 100px;
    --animWidth: 500px;
    --animHeight:300px;
    --bounce1H: .33;
    --bounce1W: .33;
}

.story {
  width: 400px;
  margin: 10%;
  padding: 10%;
  background-color: lightblue;
  border: solid black 1px;
}

 
.frame {
   width:300px;
   height:300px;}
   
#borderimg1 { 
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(cxejohns.com/images/frame2.png) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(cxejohns.com/images/frame2.png) 30 round; /* Opera 11-12.1 */
    border-image: url(cxejohns.com/images/frame2.png) 30 round;
}

#borderimg2 { 
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(cxejohns.com/images/frame2.png) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(cxejohns.com/images/frame2.png) 30 stretch; /* Opera 11-12.1 */
    border-image: url(cxejohns.com/images/frame2.png) 30 stretch;
}
  
  div.sunblocka, div.sunblockb, div.sunblockc {
width: 1000px;
height:10000px;
background-color:yellow;
position: fixed;
opacity: .3;
box-shadow: -100px -100px 200px yellow, 100px 100px 200px yellow, 100px -100px 200px yellow, -100px 100px 200px yellow;
    
}
div.sunblockb{
    background-color:orange;
    opacity: .3;
  box-shadow: -100px -100px 200px orange, 100px 100px 200px orange, 100px -100px 200px orange, -100px 100px 200px orange;
}
div.sunblockc{
    background-color:red;
    opacity: .3;
box-shadow: -100px -100px 200px red, 100px 100px 200px red, 100px -100px 200px red, -100px 100px 200px red;
}
  
.levitate1 {
    position :relative;
    animation: levitate1 4s infinite;
    animation-direction: alternate;
}
.levitate2 {
    position :relative;
    animation: levitate2 5s infinite;
    animation-direction: alternate;
}
.levitate3 {
    position :relative;
    animation: levitate3 6s infinite;
    animation-direction: alternate;
}

@keyframes levitate1 {
    from {top: 200px;}
    to {top: 0px;}
}
@keyframes levitate2 {
    from {top: 0px;}
    to {top: 200px;}
}
@keyframes levitate3 {
    from {top: 0px;}
    to {top: 200px;}
    from {top: 200px;}
    to {top: 0px;}
}

 

.bounce {
  height: var(--mainHeight);
  width: var(--mainWidth);
  margin:0;
  padding:0;
  
  background-color: var(--main-background-color);
  margin: 0 auto;
  position: relative;
  overflow: visible;
}
.bounce #bounce1 {
  display: block;

  background-color: white;
  position: absolute;
  -webkit-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  -moz-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  -o-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from { left: 0; } to { left: var(--animWidth); }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: var(--animWidth); }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: var(--animWidth); }
}
@keyframes moveX {
  from { left: 0; } to { left: var(--animWidth); }
}
@-webkit-keyframes moveY {
  from { top: 0; } to { top: var(--animHeight); }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: var(--animHeight); }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: var(--animHeight); }
}
@keyframes moveY {
  from { top: 0; } to { top: var(--animHeight); }
}

 .indifferent_sun {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  margin-left: 200px;
  text-align: center center;
  border-radius: 50px 50px 50px 50px;
  -webkit-animation-name: bounce;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 4s;
  /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: 3;
  /* Chrome, Safari, Opera */
  -webkit-animation-direction: alternate;
  /* Chrome, Safari, Opera */
  animation-name: bounce;
  animation-duration: 4s;
  animation-iteration-count: 3;
  animation-direction: alternate;
}
/* Chrome, Safari, Opera */

@-webkit-keyframes bounce {
  0% {
    background-color: red;
    top: 0px;
  }
  50% {
    background-color: orange;
    top: 200px;
  }
  100% {
    background-color: yellow;
    top: 0px;
  }
}
/* Standard syntax */

@keyframes bounce {
  0% {
    background-color: red;
    top: 0px;
  }
  50% {
    background-color: orange;
    top: 200px;
  }
  100% {
    background-color: yellow;
    top: 0px;
  }
  
  div.suna, div.sunb, div.sunc {
width: 2px;
height:10000px;
 background-color:red;
position:fixed;
    
}
div.sunb{
    background-color:yellow;
}
div.sunc{
    background-color:orange;
}

button {
  cursor: pointer;
}
